{{#let (this.fetchUsers) as |request|}}
  {{#if request.isLoading}}

    <p>正在获取用户信息……</p>

  {{else if request.error}}

    <p>获取用户信息出错</p>

  {{else}}

    <ul>
      {{#each request.users as |user|}}
        <li>
          <img src={{user.picture.thumbnail}} alt="user" />
          <p>{{user.name.first}} {{user.name.last}}</p>
        </li>
      {{/each}}
    </ul>

  {{/if}}
{{/let}}
